body,html{
	width: 100%;
	background:#f7f7f7;
 }
/* 控制html，body无法拖动 */
.overflow{
	height:100%;
	overflow:hidden;
}
.padd{
	width:100%;
	padding: 0 3%;
	box-sizing: border-box;;
}

.head{
	width: 100%;
	position: fixed;
	background: #fff;
}
header *{
	display: inline-block;
}
header{
	width: 100%;
	align-items:center;
	padding: 0 3%;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	-webkit-display: flex;
	display: flex; 

}
header .back{
 
	width: 0.625rem;
	height: 100%;
	line-height: 1.25rem;
	font-size: 0.4062rem;
    font-family: "SimSun";
}
header form input{
	width:100%;
	height: 0.7812rem;
	border:0;
	padding-left:5px;
	box-sizing: border-box;
	outline: none;
	border-radius: 4px;
	background:url("../img/icon_search02.png") right center no-repeat;
	background-color:#f7f7f7;
	
}
header form{
	padding-top: 0.2344rem;
	display: flex;
	flex:1;
	position: relative;
}
header form span{
	display: block;
	line-height: 1.0156rem;
	width:0.9375rem;
	text-align: right;
	float: right;
 
}
 
menu{
	padding:0 3%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	position: relative;
	border-bottom: 1px solid #eee;
}
menu >a{
	padding:10px;
}
menu > a.active{
	color:#ff2150;
	border-bottom: 2px #ff2150 solid;
}
.content{
	width: 100%;
	position: absolute;
	top: 3rem;
	z-index: -1;
}
 .price{
 	position: relative;
 	overflow-y: auto;
 }
 .price *{
  	vertical-align: middle;
  }
 .price img{
display: inline;
}

.price-layer{
	display: none;
	position: absolute;
	left:50%;
	top:0.9375rem;
	width:1.875rem;
	margin-left: -0.9375rem;
	text-align: center;
	border:1px #eee solid;
	border-bottom: none;
	background: #fff;
	z-index: 10;
}
.aside{
	position: fixed;
	right: 0.4688rem;
	bottom: 1.5625rem;
}
.aside img{
	width:0.9375rem;
	height: 0.9375rem;
}
.load{margin:0 auto;height:0.9375rem;width:3.2407rem;}
.load img{
	display: inline-block;
	width: 0.9375rem;
	height: 0.9375rem;
	line-height:0.9375rem;
	text-align: center;
	background: #f7f7f7;
	color:#ccc; 
}
.load *{vertical-align: middle;}
.side{
	position: fixed;
	background:rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 100%;
}
.side-main{
	width: 90%;
	height: 100%;
	background: #fff; 
	position: absolute;
	right: 0;
	overflow-y:scroll;
}
.side-main a.active{
	background: #ff2150;
	color: white;
	border-radius: 5px;

}
.side-main >div{
	padding:0 3%;
	line-height: 0.9375rem;
}
.side-main > div *{
	vertical-align: middle;
}

.foot_btn{
	width: 100%;
	height: 1.25rem;
	float: right;
	position: fixed;
	bottom: 0;
	
}
.foot_btn.active{
	background: #ff2150;
}

.address{
	color: red;
}
.dispatch-con button{
	width:1.5625rem;
	line-height:0.9375rem;
	border-radius: 5px;
	margin-bottom: 0.3125rem;
	outline: none;
}
.dispatch-con input{
	outline: none;
	border: 1px solid #ccc;
	padding-left: 0.1562rem;
}
.dispatch-con label{
	margin-right: 0.1562rem;
}
.ctrl{
	width:0.2812rem;
	height: 0.9375rem;
	float: right;
	background: url("../img/pic_arrow01.png") 0 center no-repeat;
	background-size: 100%;
}
.space{
	padding: 0 3%;
	border:1px solid #ddd;
}
.time-con{
	background: #fff;
}
.con{
	display: none;
}
.side-main a{
	display: inline-block;
	margin:0 5px;
	text-align: center;
	padding:5px;
}
.sort a{
	;
	width:1.5625rem;

}
.price-range input{
	border:1px solid #eee;
	text-align: center;
	margin-left: 10px;
	width: 2.0312rem;
	height: 0.6562rem;
	border-radius: 3px;
}
.time-con a.active{
	background: #ff2150;
	border-radius: 5px;
}
.ctrl.show{
	width:0.2812rem;
	height: 0.9375rem;
	float: right;
	background: url("../img/pic_arrow02.png") 0 center no-repeat;
	background-size: 100%;
}
.store{
	width: 100%;
	background:#fff;
	margin-bottom:0.3125rem;
	border-bottom: 1px solid #ddd; 
	border-top: 1px solid #eee;
}
.store-title{
	height: 0.9375rem;
	padding-top: 0.3438rem;
	padding-bottom: 0.3438rem;
	display: inline-block;
	display: flex;
	justify-content: space-between;
}
.store-left{
	width:10%;
}
.store-left img{
	width: 0.9375rem;
	height: 0.9375rem;
}
.store-center{
	font-size: 0.3438rem;
	width: 65%;
}
.store-center span{
font-size: 0.2812rem;
color: gray;
}
.store-right{
	width:20%;
}
.store-right a{padding: 0 0.1562rem;
	font-size: 0.3125rem;
	color: #ff1250;
	border:1px solid #ff1250;
	border-radius: 3px;
	text-align: right;
	line-height: 0.5625rem;
	margin-top:0.3125rem;
}
.products ul{
	width: 100%;
	height: 2.7344rem;
	display: flex;
	justify-content: space-between;
}
.products ul li img{
	position: absolute;
	width: 2.1875rem;
	height: 2.1875rem;
}
.products ul li{
	position: relative;
	width: 23%;
}
.products{
	box-sizing: border-box;
	border-top: 1px solid #ddd;
	padding: 0.1562rem 0 0  0;
}
.products ul li  span{
	text-align: center;
	display: inline-block;
	position: absolute;
	bottom: 0.5469rem;
	width:  1.0938rem;
	right: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
}
button{
	outline: none;
}
button.on{
	background: #ff1250;
}